{% load static %}
{% include 'postgresql/partials/_header.html' %}

<div class="container mt-4">
    <div class="row">
        <!-- Hughesnet -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <img src="{% static 'assets/hughesnet.png' %}" alt="Hughesnet Logo" class="card-img-top" style="max-width: 100px;">
                    <h5 class="card-title"><a href="https://www.hughesnet.com.br/#atendimento-ao-cliente">Hughesnet</a></h5>
                    <p class="card-text">0800 889 4000</p>
                    <a href="https://www.hughesnet.com.br/#atendimento-ao-cliente" class="btn btn-primary btn-sm">Atendimento</a>
                </div>
            </div>
        </div>
        <!-- Claro -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <img src="{% static 'assets/claro.png' %}" alt="Claro Logo" class="card-img-top" style="max-width: 100px;">
                    <h5 class="card-title"><a href="https://www.claro.com.br/atendimento">Claro</a></h5>
                    <p class="card-text">0800 723 6626</p>
                    <a href="https://www.claro.com.br/atendimento" class="btn btn-primary btn-sm">Atendimento</a>
                </div>
            </div>
        </div>
        <!-- Vivo -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <img src="{% static 'assets/vivo.png' %}" alt="Vivo Logo" class="card-img-top" style="max-width: 100px;">
                    <h5 class="card-title"><a href="https://vivo.com.br/para-voce/ajuda/fale-com-a-vivo">Vivo</a></h5>
                    <p class="card-text">0800 770 0051</p>
                    <a href="https://vivo.com.br/para-voce/ajuda/fale-com-a-vivo" class="btn btn-primary btn-sm">Atendimento</a>
                </div>
            </div>
        </div>
        <!-- Giga+ -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <img src="{% static 'assets/gigamais.png' %}" alt="Giga Logo" class="card-img-top" style="max-width: 100px;">
                    <h5 class="card-title"><a href="https://www.gigamaisfibra.com.br/fale-conosco/">Giga+</a></h5>
                    <p class="card-text">103 53</p>
                    <a href="https://www.gigamaisfibra.com.br/fale-conosco/" class="btn btn-primary btn-sm">Atendimento</a>
                </div>
            </div>
        <!-- Niu -->
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <img src="{% static 'assets/niufibra.png' %}" alt="Niu Logo" class="card-img-top" style="max-width: 100px;">
                    <h5 class="card-title"><a href="https://www.niufibraotica.com.br/#1139671404">Niufibra</a></h5>
                    <p class="card-text">800 678 8000</p>
                    <a href="https://www.niufibraotica.com.br/#1139671404" class="btn btn-primary btn-sm">Atendimento</a>
                </div>
            </div>
        </div>
        <!-- Desktop -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <img src="{% static 'assets/desktop.png' %}" alt="Claro Logo" class="card-img-top" style="max-width: 100px;">
                    <h5 class="card-title"><a href="https://www.desktop.com.br/atendimento/">Desktop</a></h5>
                    <p class="card-text">0800 941 3300</p>
                    <a href="https://www.desktop.com.br/atendimento/" class="btn btn-primary btn-sm">Atendimento</a>
                </div>
            </div>
        </div>
    </div>
</div>