{% load static %}
{% include 'postgresql/partials/_header.html' %}

<div class="container text-center mt-4">
    <h3>QualityFinder - Projeto Integrador I</h3>
    <p>O projeto propôs o desenvolvimento de um sistema de planos de internet para atender às necessidades da comunidade, visando resolver problemas enfrentados pelos usuários ao escolherem e gerenciarem seus planos de internet. A equipe identificou dificuldades na escolha de planos de internet devido à falta de transparência nos preços e termos, bem como à complexidade das opções disponíveis. O foco principal foi oferecer uma variedade de planos de internet que atendam às diferentes necessidades e orçamentos dos usuários, com opções de personalização para velocidade de conexão, limite de dados e serviços adicionais. O sistema foi projetado para ter uma interface intuitiva e fácil de usar, permitindo aos usuários navegar pelos planos disponíveis e compará-los facilmente. A equipe reconhece a necessidade de continuar o desenvolvimento do sistema para implementar melhorias e atualizações contínuas, visando fornecer sempre a melhor experiência de internet possível para os usuários.</p>
    <p><strong>Grupo:</strong></p>
    <ul class="center-text" style="list-style-type: none;">
        <li>Adriano da Silva Souza</li>
        <li>Diogo Paixao Silva</li>
        <li>Guilherme Almeida Ramos</li>
        <li>Iracema Alves Mascarenha da Silva</li>
        <li>Marcela Dias dos Santos</li>
        <li>Marcio Melo da Conceição</li>
        <li>Simone Santos de Carvalho Silva</li>
        <li>Vinicius de Oliveira Silva</li>
    </ul>
    <p><strong>Email para contato:</strong></p>
    <ul class="center-text" style="list-style-type: none;">
        <li>22projeto.integrador@gmail.com</li>
    </ul>
    <p><strong>Repositório GitHub:</strong></p>
    <ul class="center-text" style="list-style-type: none;">
        <li><a href="https://github.com/ProjetoIntegrador22/qualityFinder/tree/main/testePostgre">Código fonte do projeto</a></li>
    </ul>
</div>